#main-content li {
  line-height: 3rem;
}
.example-container {
  position: relative;
  min-height: 4rem;
}

.intro-text {
  font-size: 2.2rem;
}

.text-margin-bottom {
  margin-bottom: 7rem !important;
}

.highlight-overlay {
  background: $highlight_bg_color;
  border: 1px $highlight_border_color solid;
  padding: 0.8rem;
  z-index: 1000;

  select, [type=checkbox] + label::before {
    background: $highlight_bg_color ;
  }
}

.disable-clicks {
  pointer-events: none;
}

.mouse-pointer {
  display: inline;
  position: relative;
  &:after {
    content: "";
    background: url('/images/mouse-pointer.png') no-repeat;
    width: 20px;
    height: 26px;
    z-index: 1000;
    position: absolute;
    display: inline-block;
  }
}
.code-grid {
  display: grid;
  grid-template-columns: 1fr 12.5rem; 
  grid-template-rows: 1fr 6rem; 
  border: 2px $grey2 solid;
  background: $grey1;

  &.no-collapse {
    grid-template-rows: 1fr; 
  }
}
.code-box {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  
  font-size: 1.4rem;
  white-space: pre;
  padding-top: 0.3rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  max-width: 80rem;
  overflow-x: scroll;
  overflow-y: hidden;
}
.copy-code {
  grid-column: 2;
  grid-row: 1;
  z-index: 100;
  padding-right: 2.5rem;
  padding-top: 2.5rem;
  color: $bigsky;
  font-weight: bold;
  font-size: 1.6rem;
  text-transform: uppercase;

  .copy-code-text {
    background: $grey1;
    cursor: pointer;
    padding-left: 0.5rem;
  }
}

.code-alert-container {
  position: relative;
  width: 100%;
}
.code-alert {
  background: $asphalt;
  color: #fff;
  font-size: 1.2rem;
  border:1px solid $asphalt;
  border-radius: 0.2rem;
  margin-top: 1rem;
  margin-right: 2.5rem;
  z-index: 1000;
  text-align: center;
  line-height: 2.2rem;
  position: relative;
  top: -2.2rem;
  width: 6.5rem;
  height: 2.3rem;

  &.click-to-copy {
    width: 8rem;
  }

  &.link, &.click-to-copy {
    position: absolute;
    left: 0;
    right: 0;
    top: -3rem;
    margin-left: auto;
    margin-right: auto;
  }

  &.grid {
    grid-column: 2;
    grid-row: 1;
    justify-self: center;
  }

  &.down-arrow {
    &:before {
      content: '';
      position: absolute;
      top: 1.8rem;
      border: solid $asphalt;
      background: $asphalt;
      border-width: 0 3px 3px 0;
      border-radius: 0.1rem;
      padding: 3px;
      left: 44%;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }
  }
}
.code-collapsed {
  max-height: 200px;
}
.code-toggle {
  grid-column: 1 / 3;
  grid-row: 2;
  text-align: center;
  line-height: 5rem;
  z-index: 100;
  color: $bigsky;
  font-weight: bold;
  font-size: 1.6rem;
  text-transform: uppercase;
  border-top: 1px solid rgba(187,187,187,0.3);
  margin: 1rem auto;
  width: 97%;
  cursor: pointer;

  .arrow {
    position: relative;
    top: -0.4rem;
    margin-left: 0.7rem;
  }
}
.arrow {
  display: inline-block;
  padding: 0.25rem;
  margin-top: 0.5rem;
  border: solid $asphalt;
  border-width: 0 2px 2px 0;
}
.arrow-bigsky {
  border: solid $bigsky;
  border-width: 0 2px 2px 0;
}
.arrow-up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
.arrow-down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.expand {
  color: $bigsky;
  font-weight: bold;
  padding-right: 1.5rem;
  background-size: 1.2rem;
  background-repeat: no-repeat;
  background-position: right center;
  background-image: url('../farmers/img/accordion-expand-blue.svg');
}
.collapse {
    color: $bigsky;
  font-weight: bold;
  padding-right: 2rem;
  background-size: 1.2rem;
  background-repeat: no-repeat;
  background-position: right center;
  background-image: url('../farmers/img/accordion-collapse-blue.svg');
}
.dashed-blue {
  z-index: 100;
  &.dashed-blue-horizontal {
    background: $blue_opaque_bg;
    border-top: 1px $dss_blue dashed;
    border-bottom: 1px $dss_blue dashed; 
  }
  &.dashed-blue-vertical {
    background: $blue_opaque_bg;
    border-left: 1px $dss_blue dashed;
    border-right: 1px $dss_blue dashed;     
  }

  &.dashed-blue-dark-bg-horizontal {
    background: $blue_opaque_dark_bg;
    border-top: 1px $dss_blue dashed;
    border-bottom: 1px $dss_blue dashed; 
  }
  &.dashed-blue-dark-bg-vertical {
    background: $blue_opaque_dark_bg;
    border-left: 1px $dss_blue dashed;
    border-right: 1px $dss_blue dashed;     
  }
}

.dashed-red {
  z-index: 100;
  &.dashed-red-horizontal {
    background: $red_opaque_bg;
    border-top: 1px $dss_red dashed;
    border-bottom: 1px $dss_red dashed; 
  }
  &.dashed-red-vertical {
    background: $red_opaque_bg;
    border-left: 1px $dss_red dashed;
    border-right: 1px $dss_red dashed;     
  }

  &.dashed-red-dark-bg-horizontal {
    background: $red_opaque_dark_bg;
    border-top: 1px $dss_red dashed;
    border-bottom: 1px $dss_red dashed; 
  }
  &.dashed-red-dark-bg-vertical {
    background: $red_opaque_dark_bg;
    border-left: 1px $dss_red dashed;
    border-right: 1px $dss_red dashed;     
  }
}

.span-blue {
  position: relative;
  &.span-blue-horizontal {
    border-top: 1px $dss_blue solid;
    border-bottom: 1px $dss_blue solid;
    width: $span_dimension;

    &:after {
        content: "";
        border-right: 1px solid $dss_blue;      
        position:absolute;
        height: 100%;
        left: 4px;    
      }
  }
  &.span-blue-vertical {
    position: relative;
    border-left: 1px $dss_blue solid;
    border-right: 1px $dss_blue solid;
    height: $span_dimension;

    &:after {
        content: "";
        border-top: 1px solid $dss_blue;      
        position:absolute;
        width: 100%;
        top: 4px;    
      }
  }
}

.span-red {
  &.span-red-horizontal {
    position: relative;
    border-top: 1px $dss_red solid;
    border-bottom: 1px $dss_red solid;
    width: 9px;

    &:after {
        content: "";
        border-right: 1px solid $dss_red;      
        position:absolute;
        height: 100%;
        left: 4px;    
      }
  }
  &.span-red-vertical {
    position: relative;
    border-left: 1px $dss_red solid;
    border-right: 1px $dss_red solid;

    &:after {
        content: "";
        border-top: 1px solid $dss_red;      
        position:absolute;
        width: 100%;
        top: 4px;    
      }
  }
}

.dimension-blue {
  color: $dss_blue;
  font-size: 1rem;
  
  &.dimension-blue-horizontal {
    justify-self: center;
    align-self: center;
  }

  &.dimension-blue-vertical {
    justify-self: center;
    align-self: center;
  }
}

.dimension-red {
  color: $dss_red;
  font-size: 1rem;
  align-self: center;

  &.dimension-red-horizontal {
    justify-self: center;
    align-self: center;
  }

  &.dimension-red-vertical {
    align-self: center;
  }
}