#sidebar {
  font-size: 1.75rem;
  flex: 0 0 217px;
  
  .sidenav {
    padding: 2rem 0 0 0;
  }
  
  ul {
    list-style-type: none;
    margin: 0;

    li {
      margin-top: 0;

      a, .category {
        padding: 1rem 1rem 1rem 0;
      }

      a, a:visited {
        display:block;
        text-decoration: none;
        color: $asphalt;
      }

      a:hover, a:visited:hover {
        background: $softgreen;
        border-left: 0.25rem $heritage solid;
        margin-left: -0.25rem;
        color: $asphalt;
        text-shadow: none;
        -webkit-text-stroke: unset;
      }
    
      .active a:hover {
        text-shadow: none;
        color: $asphalt;
        -webkit-text-stroke: $asphalt;
      }

      a:not(active) {
        padding-left: 2rem;
        -webkit-text-stroke: $heritage;
      }
      
      .category {
        cursor: pointer;
        font-weight: 700;
      }

      .category span {
        float: right;
      }
    }
  }

  @media screen and (max-width: 600px) {
    width: 100%;
  }
}

.sidebar-nav-links {
  padding: 0;
  margin: 0;
  .active {
      border-left: 0.25rem $heritage solid;
      margin-left: -0.25rem;
      font-weight: 700;
    }
}