#sidebar {
  font-size: 1.75rem;
  flex: 0 0 227px;
  
  .sidenav {
    padding: 2rem 0 0 0;
  }
  
  ul {
    list-style-type: none;
    margin: 0;


    li {
      margin-top: 0;
      
      a, .category, .base-link {
        padding: 1rem;
      }

      a, a:visited {
        display:block;
        text-decoration: none;
        color: $asphalt;
      }

      a:hover, a:visited:hover {
        background: $softgreen;
        border-left: 0.25rem $heritage solid;
        margin-left: -0.25rem;
        color: $asphalt;
        text-shadow: none;
        -webkit-text-stroke: unset;
      }

      a:not(active) {
        padding-left: 2rem;
        -webkit-text-stroke: $heritage;
      }
      
      .category, .base-link {
        cursor: pointer;
        font-weight: 700;

        span {
          float: right;
        }
      }
    }
  }

  @media screen and (max-width: 600px) {
    width: 100%;
  }
}

.active:not(.category) {
  background: $softgreen;
  border-left: 0.25rem $heritage solid;
  margin-left: -0.25rem;
  font-weight: 700;
}

.sidebar-nav-links {
  padding: 0;
  margin: 0;
}