/** TODO: May need to adjust these numbers as they are overriding the design system **/
body {
  font-family: 'Public Sans';  
  margin: 0;
  padding: 0;
  font-size: 1.7rem;
}
/** END TODO **/

header {
  background: $heritage;
  text-align: center;
  color: #fff;
  margin-bottom:5rem;
  height:15rem;
  font-size: 5rem;

  .usa-skipnav {
    background: 0 0;
    color: #212121;
    left: 0;
    padding: 1rem 1.5rem;
    position: absolute;
    top: -20rem;
    transition: all .2s ease-in-out;
    z-index: 100;
  }

  .usa-skipnav:focus {
    background: #fff;
    left: 0;
    position: absolute;
    top: 0;
    transition: all .2s ease-in-out;
  }

  h1 {
    color: #fff;
    font-size: 8rem;
    padding:0;
    margin:0;
    vertical-align: middle;
    line-height:13.5rem;
  }
}
img.logo {
  display: block;
  width: 18rem;
  margin: auto;
}

.page {
  max-width: 1101px;
  margin-left: auto;
  margin-right: auto;
  display:flex;

  #main-content {
    margin-bottom: 10rem;
    margin-top: -2rem;
  }
  
  @media only screen and (max-width: 600px) {
    flex-direction: column;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
main {
  padding-left:6rem;

  @media all and (max-width: 600px) {
   padding-left: 1rem;
   padding-right: 1rem;
  }
}

.visually-hidden {
   position: absolute;
   left: -999em;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.flex-align-bottom {
  align-self: flex-end;
}