.icons-click-target {
  &.mouse-pointer {
    position: relative;
    top: 6.5rem;
    left: -3rem;
  }
}
.icons-click-target-grid {
  display: grid;
  grid-template-columns: 44px 16px 16px;
  grid-template-rows: 16px 12px 44px;
  
  &.highlight-overlay {
    width: 44px;
    height: 44px;
  }

  img {
    grid-column: 1;
    grid-row: 3;
    padding: 1.3rem;
  }

  .click-target-top-span {
    grid-column: 1;
    grid-row: 2;
  }

  .click-target-top-dimension {
    grid-column: 1;
    grid-row: 1;
  }

  .click-target-right-span {
    grid-column: 2;
    grid-row: 3;
    margin-left: 0.4rem;
  }

  .click-target-right-dimension {
    grid-column: 3;
    grid-row: 3;
    margin-left: 0.8rem;
  }
}