.pixel-height {
  position: relative;
  grid-column: 2;
  grid-row: 1 / 3;
  &.dimension {
    position: relative;
    grid-column: 1;
    grid-row: 1;
  }
}

/** PRIMARY LINE GRID **/
.primary-line-grid {
  display: grid;
  grid-template-columns: 20px 12px auto 28px auto;
  grid-template-rows: 2.6rem repeat(2, 0.5rem);

  .primary-line-height {
    top: 1rem;
    grid-row: 1;
    height: 0.5rem;
    margin-right: 0.5rem;
    &.dimension {
      position: relative;
      top: 0.4rem;
    }
  }

  .primary-line-height-dimension {
    grid-column: 1;
    grid-row: 1;
    position: relative;
    top: -0.2rem;
  }

  .divider-line {
    margin: 0;
    grid-column: 3 / span 3;
    grid-row: 1;
    margin-top: 1.3rem;
  }

  .primary-line-box-left {
    grid-column: 3;
    grid-row: 1;
    width: 12px;
    justify-self: end;
  }

  .primary-line-box-right {
    grid-column: 5;
    grid-row: 1;
    width: 12px;
    justify-self: start;
  }

  .primary-line-width {
    padding-top: 0.8rem;
    &.right {
      grid-column: 3;
      grid-row: 3;
      justify-self: end;
      position: relative;
      left: 0.3rem;
    }
    &.left {
      grid-column: 5;
      grid-row: 3;
      justify-self: start;
      position: relative;
      right: 0.6rem;
    }
  }

  .primary-line-span {
    &.right {
      position: relative;
      grid-column: 3;
      grid-row: 3;
      width: 12px;
      justify-self: end;
    }
    &.left {
      position: relative;
      grid-column: 5;
      grid-row: 3;
      width: 12px;
      justify-self: start;
    }
  }
}

/** DOUBLE LINE GRID **/
.double-line-grid {
    display: grid;
    grid-template-columns: 20px 6px auto;
    grid-template-rows: repeat(3, 0.35rem);

    .highlight {
      position: relative;
      height: 6px;
      z-index: 100;
      top: 0.6rem;
      left: 0.54rem;
    }

    .double-line-height {
      top: 0.55rem;
      height: 6px;
    }

    .double-line-height-dimension {
      position: relative;
      top: 0.6rem;
    }

    .double-line {
      margin: 0 0 0 0.5rem;
      grid-column: 3;
    }
  }

  /** SECONDARY GRID **/
  .secondary-specs-grid {
    position:relative;
    display: grid;
    grid-template-columns: 20px 9px auto;
    grid-template-rows: repeat(3, 0.25rem);

    .divider-dot.example {
      grid-column: 3;
      margin: 0.25rem 0 0 0.5rem;
    }

    .secondary-specs-height {
      position: relative;
      top: 0.1rem;
      height: 5px;
    }
    .secondary-specs-height-dimension {
      grid-column: 1;
      grid-row: 1;
      position: relative;
      top: 0.1rem;
    }
  }