.table-grid {
  table {
    margin-bottom: 0;
    td:first-child {
      min-width: 203px;
    }
  }
  display: grid;
  grid-template-columns: 24px 182px 24px auto;

  .table-bordered {
    grid-column: 1 / span 6;
    grid-row: 3 / span 10;
  }

  .table-specs-first-cell {
    grid-column: 1;
    grid-row: 3 / span 10;
  }

  .table-specs-first-cell-dimension {
    grid-column: 1;
    grid-row: 1;
  }

  .table-specs-first-cell-span {
    grid-column: 1;
    grid-row: 2;
  }

  .table-specs-second-cell {
    grid-column: 3;
    grid-row: 3 / span 10;
  }

  .table-specs-first-cell-dimension {
    grid-column: 3;
    grid-row: 1;
  }

  .table-specs-second-cell-span {
    grid-column: 3;
    grid-row: 2;
  }

  .table-specs-heading-span {
    grid-column: 5;
    grid-row: 3;
  }

  .table-specs-heading-dimension {
    grid-column: 6;
    grid-row: 3;
  }

  .table-specs-first-row-span {
    grid-column: 5;
    grid-row: 5;
  }

  .table-specs-first-row-dimension {
    grid-column: 6;
    grid-row: 5;
  }

  .table-specs-second-row-span {
    grid-column: 5;
    grid-row: 7;
  }

  .table-specs-second-row-dimension {
    grid-column: 6;
    grid-row: 7;
  }
}