@import 'farmers/new/elements/_colors.scss';

/** TODO: May need to adjust these numbers as they are overriding the design system **/
body {
  font-size: 20px;
}
/** END TODO **/

.main {
  display: flex;
}
.menu {
  margin: 0 2rem;
  font-size: 2rem;
  ul {
    list-style-type: none;
  }
  li {
    margin-left: 2rem;
    padding: 1rem;

    a {
      color: $asphalt;
      text-decoration: none;
    }
    a:not(active) {
      padding-left: 2rem;
    }
    
    .category.active {
      font-weight: 700;
    }

    .category i {
      display: inline-block;
      float: right;
      padding: 0.25rem;
      margin-top: 0.5rem;
      border: solid $asphalt;
      border-width: 0 2px 2px 0;
    }
  }
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.menu-links {
  padding: 0;
  margin: 0;
  .active {
      border-left: 0.25rem $heritage solid;
      margin-left: -0.25rem;
      font-weight: 700;
      a {
        padding-left: 3.7rem;
      }
    }
}
.category {
  cursor: pointer;
}

/** BORDERS **/
.heritage-border {
  border: 1px solid $heritage;
}
.soft-green-border {
  border: 1px solid $softgreen;
}
.soft-yellow-border {
  border: 1px solid $softyellow;
}
.grey-1-border {
  border: 1px solid $grey1;
}
.soft-red-border {
  border: 1px solid $softred;
}
.grey-2-border {
  border: 1px solid $grey2;
}
.grey-3-border {
  border: 1px solid $grey3;
}
.sweet-grass-border {
  border: 1px solid $sweetgrass;
}
.big-sky-border {
  border: 1px solid $bigsky;
}

/** BUTTONS **/
.mini-square {
  padding: 0.5rem;
  font-size: 16px;
  text-align: center;
  width: 4rem;
}
/** COLORS **/
.white-color {
  color: #fff;
}
.heritage-color {
  color: $heritage;
}
.sweet-grass-color {
  color: $sweetgrass;
}
.big-sky-color {
  color: $bigsky;
}
