.container.examples {
  margin-bottom: 4rem;
}
.checkbox-dimensions {
  position: absolute;
  left: -3.8rem;
}
.checkbox-click-target {
  position: relative;
  top: -1.3rem;
  left: 1.4rem;

  &.hover-hand {
    @media only screen and (max-width: 600px) {
      left: 0.5rem;
    }
  }
}
.checkbox-card-click-target {
  position: relative;
  top: -1.1rem;
  left: 14rem;
}
.checkbox-grid {
  display: inline-grid;
  grid-template-columns: auto 12px auto;
  grid-template-rows: 22px auto;
  margin-bottom: 3rem;

  .checkbox-width {
    position: relative;
    grid-column: 3;
    width: 24px;
    margin-top: 0.75rem;
  }      
  .checkbox-height {
    position:relative;
    top: 0.2rem;
  }
} 

.checkbox-card-grid {
  display: grid;
  grid-template-columns: 20px 146px 42px 32px 20px 6px 9px 25px;
  grid-template-rows: 20px 82px 32px 20px 5px 10px 9px;
  
  .checkbox-card {
    grid-column: 1 / span 5;
    grid-row: 1 / span 4;
  }
  .top, .bottom {
    grid-column: 1 / span 5;
  }
  .top {
    grid-row: 1;
  }
  .bottom {
    grid-column: 4 / 6;
    grid-row: 4;
  }
  .left, .right {
    position: relative;
    grid-row: 1 / span 4;
  }
  .left {
    grid-column: 1;
  }
  .right {
    grid-column: 5;
    position: relative;
    left: -2px;
  }

  .height-span {
    position: relative;

    &.top-right {
      grid-column: 7;
      grid-row: 1;
    }

    &.bottom-right {
      grid-column: 7;
      grid-row: 4;
    }
  }

  .width-span {
      position: relative;

      &.bottom-left {
        grid-column: 1;
        grid-row: 6;
      }

      &.bottom-right {
        grid-column: 5;
        grid-row: 6;
      }
    }

    .height-dimension {
      &.top-right {
        grid-column: 8;
        grid-row: 1;
      }

      &.bottom-right {
        grid-column: 8;
        grid-row: 4;
      }
    }

    .width-dimension {
      &.bottom-left {
        grid-column: 1;
        grid-row: 7;
      }

      &.bottom-right {
        grid-column: 5;
        grid-row: 7;
      }
    }

    .checkbox-span {
      &.checkbox-span-top {
        position: relative;
        grid-column: 4;
        grid-row: 2;
        align-self: end;
        width: 32px; 
        left: -2px;
        margin-bottom: 2px;
      }

      &.checkbox-span-left {
        position: relative;
        grid-column: 3;
        grid-row: 3;
        align-self: end;
        height: 32px;
        left: 2.9rem;
      }
    }

      .checkbox-dimension-top {
        grid-column: 4;
        grid-row: 2;
        align-self: end;
        margin-bottom: 1rem;
      }

      .checkbox-dimension-left {
        grid-column: 3;
        grid-row: 3;
        align-self: end;
        margin-bottom: 1rem;
        position: relative;
        left: 0.5rem;
      }
}

@media only screen and (max-width: 600px) {
  .checkbox-mobile-container {
    margin-left: 3.5rem;
  }
}
.card-highlight {
  position:relative;
  .checkbox-card label:before, [type=checkbox] + label::before {
    background: $highlight_bg_color;
  }
}
.click-target {
  .highlight-overlay {    
    position: relative;
    left: 1rem;
    .checkbox-card label:before, [type=checkbox] + label::before {
      background: $highlight_bg_color;
    }

    @media only screen and (max-width: 600px) {
      left: 0;
    }
  }
}
.dimension-margins .example-container {
  margin-bottom: 4rem;
}
