.container.examples {
  margin-bottom: 4rem;
}
.checkbox-radio-dimensions {
  position: absolute;
  left: -4rem;

  .checkbox {
    position: relative;
    padding-left: 0.4rem;
  }
}
.checkbox-radio-click-target {
  position: relative;
  top: -1.3rem;
  left: 0.7rem;

  &.hover-hand {
    @media only screen and (max-width: 600px) {
      left: 0.5rem;
    }
  }
}

.row-click-target {
  padding-bottom: 3rem;
}

.checkbox-radio-card-click-target {
  position: relative;
  top: -5.1rem;
  left: 14rem;
}
.checkbox-radio-grid {
  display: grid;
  grid-template-columns: auto 12px auto;
  grid-template-rows: 22px auto;
  margin-bottom: 3rem;

  .checkbox-radio-width {
    position: relative;
    grid-column: 3;
    width: 24px;
    margin-top: 0.75rem;
    margin-left: 0.4rem;
  }      
  .checkbox-radio-height {
    position:relative;
    top: 0.2rem;
    margin: 0 0.2rem 0.2rem 0.2rem;
  }

  .checkbox-radio-width-dimension {
    grid-column: 3;
    grid-row: 3;
    position: relative;
    margin-left: 0.4rem;
  }
} 

.checkbox-radio-card-grid {
  display: grid;
  grid-template-columns: 20px 146px 42px 32px 20px 6px 9px 25px;
  grid-template-rows: 20px 76px 32px 20px 5px 10px 9px;
  
  .checkbox-radio-card {
    grid-column: 1 / span 5;
    grid-row: 1 / span 4;
  }
  .checkbox-radio-card-top, .checkbox-radio-card-bottom {
    grid-column: 1 / span 5;
  }
  .checkbox-radio-card-top {
    grid-row: 1;
  }
  .checkbox-radio-card-bottom {
    grid-column: 4 / 6;
    grid-row: 4;
  }
  .checkbox-radio-card-left, .checkbox-radio-card-right {
    position: relative;
    grid-row: 1 / span 4;
  }
  .checkbox-radio-card-left {
    grid-column: 1;
  }
  .checkbox-radio-card-right {
    grid-column: 5;
    position: relative;
    left: -2px;
  }

  .height-span {
    position: relative;

    &.top-right {
      grid-column: 7;
      grid-row: 1;
    }

    &.bottom-right {
      grid-column: 7;
      grid-row: 4;
    }
  }

  .width-span {
      position: relative;

      &.bottom-left {
        grid-column: 1;
        grid-row: 6;
      }

      &.bottom-right {
        grid-column: 5;
        grid-row: 6;
      }
    }

    .height-dimension {
      &.top-right {
        grid-column: 8;
        grid-row: 1;
      }

      &.bottom-right {
        grid-column: 8;
        grid-row: 4;
      }
    }

    .width-dimension {
      &.bottom-left {
        grid-column: 1;
        grid-row: 7;
      }

      &.bottom-right {
        grid-column: 5;
        grid-row: 7;
      }
    }

    .checkbox-radio-span {
      &.checkbox-radio-span-top {
        position: relative;
        grid-column: 4;
        grid-row: 2;
        align-self: end;
        width: 32px; 
        left: -2px;
        margin-bottom: 2px;
      }

      &.checkbox-radio-span-left {
        position: relative;
        grid-column: 3;
        grid-row: 3;
        align-self: end;
        height: 32px;
        left: 2.9rem;
      }
    }

    .checkbox-radio-dimension-top {
      grid-column: 4;
      grid-row: 2;
      align-self: end;
      margin-bottom: 1rem;
      z-index: 100;
      position: relative;
      left: 0.3rem;
    }

    .checkbox-radio-dimension-left {
      grid-column: 3;
      grid-row: 3;
      align-self: end;
      margin-bottom: 1rem;
      position: relative;
      left: 0.5rem;
    }
}

@media only screen and (max-width: 600px) {
  .checkbox-radio-mobile-container {
    margin-left: 3.5rem;
  }
}
.card-highlight {
  width: 27.4rem;
  margin-bottom: 4rem;

  .highlight-overlay {
    padding: 0.7rem;
  }

  .checkbox-card-label, .radio-card-label, .checkbox-radio-card label:before, [type=checkbox] + label::before {
    background: $highlight_bg_color;
  }
}

.checkbox-radio-click-target {
  margin: 2rem 0 5rem 0;
  &.highlight-overlay {
    padding-top: 0.5rem ;
    padding-bottom: 0.4rem;
  }

  &.mouse-pointer {
    position: relative;
    top: -7.3rem;
    left: 0.7rem;
  }
}
.dimension-margins .example-container {
  margin-bottom: 4rem;
}
