.default-grid-row {
  div:not(.default-card-cagrid-container) > .text-medium:nth-of-type(1) {
      margin-top: 4.8rem;
  }
}

.resource-cards-no-logo {
  [class*='medium-'] {
    .resource-card {
      margin-right: 10rem;
    }
  }
}

.card-footnote {
  font-size: 1.4rem;
  margin-top: 1rem;
}

.default-card-grid {
  display: grid;
  grid-template-columns: 24px 16px 20px 356px 20px;
  grid-template-rows: 20px 1fr 20px 16px 16px;
  position: relative;
  left: -40px;

  .content-card {
    grid-column: 3 / 6;
    grid-row: 1 / 4;
  }

  .default-card-top {
    grid-column: 3 / 6;
    grid-row: 1;
  }

  .default-card-top-dimension {
    grid-column: 1;
    grid-row: 1;
  }
  
  .default-card-top-span {
    grid-column: 2;
    grid-row: 1;
  }

  .default-card-bottom {
    grid-column: 3 / 6;
    grid-row: 3;
  }

  .default-card-bottom-dimension {
    grid-column: 1;
    grid-row: 3;
  }
  
  .default-card-bottom-span {
    grid-column: 2;
    grid-row: 3;
  }

  .default-card-left {
    grid-column: 3;
    grid-row: 1 / 4;
  }

  .default-card-left-dimension {
    grid-column: 3;
    grid-row: 5;
  }
  
  .default-card-left-span {
    grid-column: 3;
    grid-row: 4;
    margin-top: 0.5rem;
  }

  .default-card-right {
    grid-column: 5;
    grid-row: 1 / 4;
  }

  .default-card-right-dimension {
    grid-column: 5;
    grid-row: 5;
  }
  
  .default-card-right-span {
    grid-column: 5;
    grid-row: 4;
    margin-top: 0.5rem;
  }
}  

.resource-card-grid {
  display: grid;
  grid-template-columns: 20px 310px 20px 16px 16px;
  grid-template-rows: 32px 61px 16px 33px 8px 1fr 32px 16px 10px;

  .resource-card {
    grid-column: 1 / 4;
    grid-row: 1 / 8;
  }

  .resource-card-top {
    grid-column: 1 / 4;
    grid-row: 1;
  }

  .resource-card-top-span {
    grid-column: 4;
    grid-row: 1;
    margin-left: 0.3rem;
  }

  .resource-card-top-dimension {
    grid-column: 5;
    grid-row: 1;
  }

  .resource-card-bottom {
    grid-column: 1 / 4;
    grid-row: 7;
  }

  .resource-card-bottom-span {
    grid-column: 4;
    grid-row: 7;
    margin-left: 0.3rem;
  }

  .resource-card-bottom-dimension {
    grid-column: 5;
    grid-row: 7;
  }

  .resource-card-above-link {
    grid-column: 1 / 4;
    grid-row: 3;
  }

  .resource-card-above-link-span {
    grid-column: 4;
    grid-row: 3;
    margin-left: 0.3rem;
  }
  .resource-card-above-link-dimension {
    grid-column: 5;
    grid-row: 3;
  }

  .resource-card-below-link {
    grid-column: 1 / 4;
    grid-row: 5;
  }

  .resource-card-below-link-span {
    grid-column: 4;
    grid-row: 5;
    margin-left: 0.3rem;
  }
  .resource-card-below-link-dimension {
    grid-column: 5;
    grid-row: 5;
  }

  .resource-card-left {
    grid-column: 1;
    grid-row: 1 / 8;
  }

  .resource-card-left-span {
    grid-column: 1;
    grid-row: 8;
    margin-top: 0.3rem;
  }

  .resource-card-left-dimension {
    grid-column: 1;
    grid-row: 9;
  }

  .resource-card-right {
    grid-column: 3;
    grid-row: 1 / 8;
  }

  .resource-card-right-span {
    grid-column: 3;
    grid-row: 8;
    margin-top: 0.3rem;
  }

  .resource-card-right-dimension {
    grid-column: 3;
    grid-row: 9;
  }
}