.stepper-grid {
  display: grid;
  grid-template-columns: 26px 10px 40px 24px 674px 20px 10px;
  grid-template-rows: 26px 12px 40px 8px 26px 24px 100px 64px 8px 40px 8px 24px 76px 64px 126px;
  margin-bottom: 2rem;
  
  .row {
    grid-column: 3 / 6;
    grid-row: 2 / 5;
    padding-top: 1.2rem;
  }

  .first-gutter-span {
    grid-column: 3;
    grid-row: 2;
  }

  .first-gutter-dimension {
    grid-column: 3;
    grid-row: 1;
  }

  .second-gutter {
    grid-column: 4;
    grid-row: 3 / span 20;
  }

  .second-gutter-span {
    grid-column: 4;
    grid-row: 2;
  }

  .second-gutter-dimension {
    grid-column: 4;
    grid-row: 1;
  }

  .step-one-span {
    grid-column: 2;
    grid-row: 3; 
  }

  .step-one-dimension {
    grid-column: 1;
    grid-row: 3; 
  }

  .step-two-top {
    grid-column: 3;
    grid-row: 9;
    margin-left: 0.2rem;
  }

  .step-two-top-span {
    grid-column: 2;
    grid-row: 9;
  }

  .step-two-top-dimension {
    grid-column: 1;
    grid-row: 9;
    margin-right: -0.4rem;
  }

  .step-two-bottom {
    grid-column: 3;
    grid-row: 11;
    margin-left: 0.2rem;
  }

  .step-two-bottom-span {
    grid-column: 2;
    grid-row: 11;
  }

  .step-two-bottom-dimension {
    grid-column: 1;
    grid-row: 11;
    margin-right: -0.4rem;
  }

  .step-one-header {
    grid-column: 5;
    grid-row: 4;
  }

  .step-one-header-span {
    grid-column: 6;
    grid-row: 4;
    margin-left: 0.5rem;
  }

  .step-one-header-dimension {
    grid-column: 7;
    grid-row: 4;
  }

  .step-one-description {
    grid-column: 5;
    grid-row: 6;
  }

  .step-one-description-span {
    grid-column: 6;
    grid-row: 6;
    margin-left: 0.4rem;
  }

  .step-one-description-dimension {
    grid-column: 7;
    grid-row: 6;
  }

  .card-bottom {
    grid-column: 5;
    grid-row: 8 / span 2;
  }

  .card-bottom-span {
    grid-column: 6;
    grid-row: 8 / span 2;
    margin-left: 0.4rem;
  }

  .card-bottom-dimension {
    grid-column: 7;
    grid-row: 8 / span 2;
  }

  .step-two-header {
    grid-column: 5;
    grid-row: 11 / span 2;
  }

  .step-two-header-span {
    grid-column: 6;
    grid-row: 11 / span 2;
    margin-left: 0.4rem;
  }

  .step-two-header-dimension {
    grid-column: 7;
    grid-row: 11 / span 2;
  }

  .dropdown-bottom {
    grid-column: 5;
    grid-row: 14;
  }

  .dropdown-bottom-span {
    grid-column: 6;
    grid-row: 14;
    margin-left: 0.4rem;
  }

  .dropdown-bottom-dimension {
    grid-column: 7;
    grid-row: 14;
  }
}