.highlight-overlay {
  padding: 0.1rem 0.4rem;

  .simpler-select {
    background-color: $highlight_bg_color;
  }
}

.highlight-pointer {
    position: relative;
    top: -1rem;
    display: block;
    width: 30px;
    margin: auto; 
  }

.dropdown-grid {
  display: grid;
  grid-template-columns: 12px 16px 120px 124px 16px 10px 20px;
  grid-template-rows: 20px 7px 16px 16px 16px 10px 20px;
  
  label {
    grid-column: 2 / 5;
    grid-row: 1;
  }
  select {
    grid-column: 2 / 6;
    grid-row: 3;
  }

  .label-dashed {
    grid-column: 2 / 4;
    grid-row: 2;
    height: 4px;
    position: relative;
    top: 0.6rem; 
  }
  .label-dimension {
    grid-column: 4;
    grid-row: 2;
  }
  .label-span {
    grid-column: 2;
    grid-row: 2;
    width: 9px;
    height: 4px;
    position: relative;
    top: 0.6rem;
    left:140px; 
  }

  .select-top-dashed {
    grid-column: 2 / 6;
    grid-row: 3;
    position: relative;
    top: 0.3rem;
  }
  .select-top-span {
    grid-column: 6;
    grid-row: 3;
    position: relative;
    top:0.3rem;
    margin-left: 0.2rem;
  }
  .select-top-dimension {
   grid-column: 7;
   grid-row: 3;
  }

  .select-bottom {
    &.dashed {
      grid-column: 2 / 6;
      grid-row: 5;
      position: relative;
      top: -0.1rem;
    }
    &.span {
      grid-column: 6;
      grid-row: 5;
      position: relative;
      margin-left: 0.2rem;
    }
    &.dimension {
      grid-column: 7;
      grid-row: 5;
    }
  }

  .select-left-span {
    position: relative;
    top: 0.4rem;
    grid-column: 1;
    grid-row: 3 / 5;
    height: 42px;
  }
  .select-left-dimension {
    grid-column: 1;
    grid-row: 4;
    position: relative;
    left: -2.5rem;
  }

  .bottom-left-dashed {
      grid-column: 2;
      grid-row: 3 / 6;
      width: 16px;
      position: relative;
      margin-top: 0.3rem;
      margin-bottom: 0.1rem;
    }
    .bottom-left-span {
      position: relative;
      grid-column: 2;
      grid-row: 6;
      margin-top: 0.2rem;
    }
    .bottom-left-dimension {
      grid-column: 2;
      grid-row: 7;
    }

    .bottom-right-dashed {
      grid-column: 5;
      grid-row: 3 / 6;
      width: 16px;
      position: relative;
      margin-top: 0.3rem;
      margin-bottom: 0.1rem;
    }
    .bottom-right-span {
      position: relative;
      grid-column: 5;
      grid-row: 6;
      margin-top: 0.2rem;
    }
    .bottom-right-dimension {
      grid-column: 5;
      grid-row: 7;
    }
}