.higlight-box-accordion {
  width: 347px;
  height: 200px;
  margin: 0;

  .box-accordion {
    position: relative;
    left: -1.8rem;
    top: -1.9rem;
  }
}

.example-container {
  width: 100%;
}

#sect1 p:first-child {
  padding-top: 0.4rem;
}

.click-target {
  position: relative;
  display: block;
  top: -2rem;
  left: -2.4rem;
  width: 100%;
  text-align: center;
}

.click-target-collapsed {
  position: relative;
  top: -1.1rem;
  left: 17rem;
}

.default-accordion-grid {
  display: grid;
  grid-template-columns: 32px 1fr 32px 5px 10px;
  grid-template-rows: 10px 5px 32px 32px 8px 322px 32px;

  .card-accordion {
    grid-column: 1 / 5;
    grid-row: 3 / span 5;
  }

  .default-accordion-top {
    grid-row: 3;
    grid-column: 1 / 5;
    height: 32px;
    position: relative;
    top: 1rem;
    margin: 0 1rem 0 1rem;
  }

  .default-accordion-top-span {
    grid-column: 5;
    grid-row: 3; 
    position: relative;
    top: 1rem;
  }

  .default-accordion-top-dimension {
    grid-column: 6;
    grid-row: 3; 
    position: relative;
    top: 1rem;
  }

  .default-accordion-bottom {
    grid-column: 1 / 5;
    grid-row: 7;
    height: 24px;
    margin: 0 1rem 0 1rem;
  }

  .default-accordion-bottom-span {
    grid-column: 5;
    grid-row: 7; 
    height: 24px;
  }

  .default-accordion-bottom-dimension {
    grid-column: 6;
    grid-row: 7;
    position: relative;
    top: -0.5rem;
  }

  .default-accordion-header {
    grid-column: 1 / 5;
    grid-row: 5;
    height: 8px;
    position: relative;
    top: 1rem;
    margin: 0 1rem 0 1rem;
  }

  .default-accordion-header-span {
    grid-column: 5;
    grid-row: 5; 
    position: relative;
    top: 1rem;
  }

  .default-accordion-header-dimension {
    grid-column: 6;
    grid-row: 5; 
    position: relative;
    top: 1rem;
  }

  .default-accordion-left {
    grid-column: 1;
    grid-row: 3 / 8;
    width: 32px;
    margin: 1rem 0 1rem 0;
    position: relative;
    left: 1rem;
  }

  .default-accordion-left-span {
    grid-column: 1;
    grid-row: 2; 
    width: 32px;
    position: relative;
    left: 1rem;
  }

  .default-accordion-left-dimension {
    grid-column: 1;
    grid-row: 1;
    position: relative;
    left: 1.5rem;
  }

  .default-accordion-right {
    grid-column: 3;
    grid-row: 3 / 8;
    width: 32px;
    margin: 1rem 0 1rem 0;
    position: relative;
    right: 0.5rem;
  }

  .default-accordion-right-span {
    grid-column: 3;
    grid-row: 2; 
    width: 32px;
    position: relative;
    right: 0.5rem;
  }

  .default-accordion-right-dimension {
    grid-column: 3;
    grid-row: 1;
  }
}

.click-target-accordion-grid {
  display: grid;
  grid-template-columns: 1fr 18px 10px;
  grid-template-rows: 345px 24px 24px 24px;

  .card-accordion {
    grid-column: 1;
    grid-row: 1 / span 5;
  }

  .click-target-accordion-top {
    grid-column: 1;
    grid-row: 2;
    margin: 0 1rem;
    background: none;
    border-top: none;
  }

  .click-target-accordion-top-span {
    grid-column: 2;
    grid-row: 2;
  }

  .click-target-accordion-top-dimension {
    grid-column: 3;
    grid-row: 2;
  }

  .click-target-accordion-bottom {
    grid-column: 1;
    grid-row: 4;
    margin: 0 1rem;
    background: none;
    border-bottom: none;
  }

  .click-target-accordion-bottom-span {
    grid-column: 2;
    grid-row: 4;
  }

  .click-target-accordion-bottom-dimension {
    grid-column: 3;
    grid-row: 4;
  }

  .click-target-accordion-highlight {
    z-index: 100;
    border: 1px $highlight_border_color solid;
    background: $highlight_bg_color;
    opacity: 0.5;
    grid-column: 1;
    grid-row: 2 / 5;
    margin: 0 1rem;
  }
}

.box-accordion-grid {
  display: grid;
  grid-template-columns: 24px 316px 24px 10px 10px;
  grid-template-rows: 16px 16px 24px 105px 16px 31px 24px;

  .box-accordion {
    grid-column: 1 / span 3;
    grid-row: 3 / span 5;
    position: relative;
    top: -1rem;    

  }

  .box-accordion-top {
    grid-column: 1 / 4;
    grid-row: 3;    
    &.dashed-red.dashed-red-horizontal {
      margin: 0 0.8rem 0 1rem;
    }
  }

  .box-accordion-top-span {
    grid-column: 4;
    grid-row: 3;
  }

  .box-accordion-top-dimension {
    grid-column: 5;
    grid-row: 3;
  }

  .box-accordion-middle {
    grid-column: 1 / 4;
    grid-row: 5;
    &.dashed-red.dashed-red-horizontal {
      margin: 0 0.8rem 0 1rem;
    }
  }

  .box-accordion-middle-span {
    grid-column: 4;
    grid-row: 5;
  }

  .box-accordion-middle-dimension {
    grid-column: 5;
    grid-row: 5;
  }

  .box-accordion-bottom {
    grid-column: 1 / 4;
    grid-row: 7;
    &.dashed-red.dashed-red-horizontal {
      margin: 0 0.8rem 0 1rem;
    }
  }

  .box-accordion-bottom-span {
    grid-column: 4;
    grid-row: 7;
  }

  .box-accordion-bottom-dimension {
    grid-column: 5;
    grid-row: 7;
  }

  .box-accordion-left {
    grid-column: 1;
    grid-row: 3 / 8;
    position: relative;
    left: 1rem;
  }

  .box-accordion-left-span {
    grid-column: 1;
    grid-row: 2;
    position: relative;
    left: 1rem;
  }

  .box-accordion-left-dimension {
    grid-column: 1;
    grid-row: 1;
    position: relative;
    left: 1rem;
  }

  .box-accordion-right {
    grid-column: 3;
    grid-row: 3 / 8;
    position: relative;
    left: -0.6rem;
  }

  .box-accordion-right-span {
    grid-column: 3;
    grid-row: 2;
    position: relative;
    left: -0.6rem;
  }

  .box-accordion-right-dimension {
    grid-column: 3;
    grid-row: 1;
    position: relative;
    left: -0.6rem;
  }
}
.box-accordion-top-grid {
  display: grid;
  grid-template-columns: 24px 307px 24px 16px 16px;
  grid-template-rows: 16px 14px 24px 1fr 16px 1fr 24px;
  
  .box-accordion-top {
    grid-column: 1 / 4;
    grid-row: 3 / 8;
  }

  .box-top {
    grid-column: 1 / 4;
    grid-row: 3;
  }

  .box-middle {
    grid-column: 1 / 4;
    grid-row: 5;
  }

  .box-bottom {
    grid-column: 1 / 4;
    grid-row: 7;
  }

  .box-top-span {
    grid-column: 4;
    grid-row: 3;
    margin-left: 0.3rem;
  }

  .box-middle-span {
    grid-column: 4;
    grid-row: 5;
    margin-left: 0.3rem;
  }

  .box-bottom-span {
    grid-column: 4;
    grid-row: 7;
    margin-left: 0.3rem;
  }

  .box-top-dimension {
    grid-column: 5;
    grid-row: 3;
  }

  .box-middle-dimension {
    grid-column: 5;
    grid-row: 5;
  }

  .box-bottom-dimension {
    grid-column: 5;
    grid-row: 7;
  }

  .box-left {
    grid-column: 1;
    grid-row: 3 / 8;
  }

  .box-left-span {
    grid-column: 1;
    grid-row: 2;
  }

  .box-left-dimension {
    grid-column: 1;
    grid-row: 1;
  }

  .box-right {
    grid-column: 3;
    grid-row: 3 / 8;
  }

  .box-right-span {
    grid-column: 3;
    grid-row: 2;
  }

  .box-right-dimension {
    grid-column: 3;
    grid-row: 1;
  }
}

.box-accordion-bottom-grid {
  display: grid;
  grid-template-columns: 24px 18px 678px 24px 24px 16px;
  grid-template-rows: 8px 12px 16px 16px 1fr 32px 16px 10px;

  .Accordion-panel {
    grid-column: 1 / 5;
    grid-row: 1 / 7;
  }

  .box-content-top-span {
    grid-column: 5;
    grid-row: 1;
    margin-left: 0.5rem;
  }

  .box-content-top-dimension {
    grid-column: 6;
    grid-row: 1;
  }
  
  .box-content-middle {
    grid-column: 1 / 5;
    grid-row: 4;
  }
  
  .box-content-middle-span {
    grid-column: 5;
    grid-row: 4;
    margin-left: 0.5rem;
  }

  .box-content-middle-dimension {
    grid-column: 6;
    grid-row: 4;
  }

  .box-content-bottom {
    grid-column: 1 / 5;
    grid-row: 6;
  }
  
  .box-content-bottom-span {
    grid-column: 5;
    grid-row: 6;
    margin-left: 0.5rem;
  }

  .box-content-bottom-dimension {
    grid-column: 6;
    grid-row: 6;
  }

  .box-content-left {
    grid-column: 1;
    grid-row: 4 / 7;
  }
  
  .box-content-left-span {
    grid-column: 1;
    grid-row: 7;
    margin-top: 0.5rem;
  }

  .box-content-left-dimension {
    grid-column: 1;
    grid-row: 8;
  }

  .box-content-right {
    grid-column: 4;
    grid-row: 4 / 7;
  }
  
  .box-content-right-span {
    grid-column: 4;
    grid-row: 7;
    margin-top: 0.5rem;
  }

  .box-content-right-dimension {
    grid-column: 4;
    grid-row: 8;
  }
  
  .box-arrow-span {
    grid-column: 1 / 3;
    grid-row: 2;
    width: 40px;
    z-index: 100;
  }

  .box-arrow-dimension {
    grid-column: 1 / 3;
    grid-row: 3;
    z-index: 100;
    justify-self: center;
  }
}