/* FROM KITCHEN SINK PAGE */
.typography .text-display h1, .typography .text-display h5 {
  font-weight: normal; }

.typography .text-display h1 {
  font-size: 8rem;
  font-weight: normal;
  margin: 15px 0; }

/* EVERYTHING ELSE */

.table-fonts h1, 
.table-fonts h2, 
.table-fonts h3, 
.table-fonts h4, 
.table-fonts h5, 
.table-fonts h6 
{
  margin-top: 0.5rem;
}
.text-small {
  font-size: 1.2rem;
}
.text-medium {
  font-size: 1.6rem;
}
.text-large {
  font-size: 6.4rem;
}
.typography-letters {
  border-top: 1px solid #bbb;
  letter-spacing: -6px;  
}
.ps-padding {
    padding-left: 2rem;
}
.typography-example {
  padding-top: 2rem;
  line-height: 2rem;
  letter-spacing: 1rem;
  border-top: 1px solid #bbb;

  @media only screen and (max-width: 600px) {
    letter-spacing: 0.5rem;
  }
}
.typography-footnote {
  padding: 3rem 0 4rem 0;
}
.typography-container {
  padding-bottom: 2rem;
}
.contrast {
  font-size: 1.4rem;
  div:nth-child(2) {
    padding-top: 1.8rem;
  }
}
.contrast-stats p {
  font-size: 1.6rem;
}
.merriweather-container {
  padding-top: 5rem;
  padding-bottom: 4rem;
  
  @media only screen and (max-width: 600px) {
    .typography-example {
      letter-spacing: 0.4rem;
    }
  }
}
