/* FROM KITCHEN SINK PAGE */
.color-groups .colors .color-swatch {
  padding: 7rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }

.color-groups .colors .color-name {
  border: 2px solid #EDEDED;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
  padding: 1rem;
  text-align: center; 
  cursor: pointer;
}
  
/* EVERYTHING ELSE */
.medium-greyscale {
  flex-basis: 20%;
  
  .color-swatch {
    padding: 5rem !important;
  }
  @media screen and (max-width: 800px) {
    flex-basis: 100%;
  }
}
.color-examples .color-row {
  display: flex;
}
.container-square {
  width: 3rem;
  margin-right: 0.5rem;
}
.color-square {
    margin-top: 4px;
    width: 20px;
    height: 20px;
    margin-right: 1rem;
}
.mini-square {
  font-size: 1.2rem;
  padding: 1rem;
  margin: 1rem;
}