@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/*html {
  font-size: 10px !important;
}*/
.main {
  @apply flex;
}
.menu {
  @apply mr-12 ml-12 text-3xl;
}
.menu .category.active {
  /*background: #ff0;*/
}
.menu li {
  @apply ml-4 p-2;
}
.menu li a:not(active) {
  @apply pl-4;
}
.menu li.active {
  background: #DBEDE0;
  border-left: 0.25rem #006546 solid;
  margin-left: -0.25rem;
}
.category {
  @apply cursor-pointer;
}
.active {
  @apply font-bold;
}