.heritage-border {
  border: 1px solid $heritage;
}
.soft-green-border {
  border: 1px solid $softgreen;
}
.soft-yellow-border {
  border: 1px solid $softyellow;
}
.grey-1-border {
  border: 1px solid $grey1;
}
.soft-red-border {
  border: 1px solid $softred;
}
.grey-2-border {
  border: 1px solid $grey2;
}
.grey-3-border {
  border: 1px solid $grey3;
}
.sweet-grass-border {
  border: 1px solid $sweetgrass;
}
.big-sky-border {
  border: 1px solid $bigsky;
}