.path-farmers-kitchen-sink .col-content-example {
  background-color: #f7f7f7;
  border: 1px solid #BBBBBB;
  text-align: center;
  margin-bottom: 15px;
  border-radius: 2px;
  padding: 15px 0; }

.path-farmers-kitchen-sink .grid-example-text .col-content-example {
  text-align: left;
  padding: 15px; }

.path-farmers-kitchen-sink .color-groups .colors .color-swatch {
  padding: 7rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }

.path-farmers-kitchen-sink .color-groups .colors .color-name {
  border: 2px solid #EDEDED;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
  padding: 1rem;
  text-align: center; }

.path-farmers-kitchen-sink .typography .text-display h1, .path-farmers-kitchen-sink .typography .text-display h5 {
  font-weight: normal; }

.path-farmers-kitchen-sink .typography .text-display h1 {
  font-size: 8rem;
  font-weight: normal;
  margin: 15px 0; }