@import 'farmers/old/styles.scss';
@import 'farmers/new/styles.scss';
@import 'includes/_borders.scss';
@import 'includes/_elements.scss';
@import 'includes/_menu.scss';
@import 'includes/_tables.scss';
@import 'includes/_typography.scss';
@import 'includes/_kitchen-sink.scss';
@import 'includes/_grid_override.scss';
/** TODO: May need to adjust these numbers as they are overriding the design system **/

body {
  font-family: 'Public Sans';
}
/** END TODO **/

.main {
  max-width: 1140px;
  margin: auto;
  display: grid;
  grid-template-columns: 217px auto;
}
.content {
  padding-left:6rem;
}

.preview {
  border: 2px solid #ccc;
  padding: 10px;
}

.color-groups {
  padding-left: 0;
}

*, ::after, ::before {
    box-sizing: border-box;
}