@import 'farmers/old/styles.scss';
@import 'farmers/new/styles.scss';
@import 'borders.scss';
@import 'elements.scss';
@import 'menu.scss';
@import 'kitchen-sink.scss';
/** TODO: May need to adjust these numbers as they are overriding the design system **/
body {
  font-family: 'Public Sans';
}
/** END TODO **/

.main {
  max-width: 1140px;
  margin: auto;
  display: grid;
  grid-template-columns: 217px auto;
}
.content {
  padding-left:6rem;
}

.preview {
  border: 2px solid #ccc;
  padding: 10px;
}