@import 'farmers/old/styles.scss';
@import 'farmers/new/styles.scss';
@import 'includes/_borders.scss';
@import 'includes/_buttons.scss';
@import 'includes/_elements.scss';
@import 'includes/_menu.scss';
@import 'includes/_tables.scss';
@import 'includes/_typography.scss';
@import 'includes/_kitchen-sink.scss';
@import 'includes/_grid_override.scss';
/** TODO: May need to adjust these numbers as they are overriding the design system **/

body {
  font-family: 'Public Sans';  
  margin: 0;
  padding: 0;
}
/** END TODO **/

header {
  background: $heritage;
  text-align: center;
  color: #fff;
  margin-bottom:5rem;
  height:15rem;
  font-size: 5rem;

  h1 {
    color: #fff;
    font-size: 8rem;
    padding:0;
    margin:0;
    vertical-align: middle;
    line-height:13.5rem;
  }
}
img.logo {
  display: block;
  width: 18rem;
  margin: auto;
}
.page {
  max-width: 1140px;
  margin: auto;
  display:flex;

  @media only screen and (max-width: 760px) {
    flex-direction: column;
  }
}
main {
  padding-left:6rem;
}

.preview {
  border: 2px solid #ccc;
  padding: 10px;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.container {
  padding-left: 0;
}

.visually-hidden {
   position: absolute;
   left: -999em;
}