.container.examples {
  margin-bottom: 4rem;
}
.checkbox-dimensions {
  position: absolute;
  left: -3.8rem;
}
.checkbox-click-target {
  position: relative;
  top: -1.3rem;
  left: 1.4rem;
}
.checkbox-card-click-target {
  position: relative;
  top: -1.1rem;
  left: 14rem;
}
.checkbox-grid {
  display: inline-grid;
  grid-template-columns: auto 12px auto;
  grid-template-rows: 22px auto;
  margin-bottom: 3rem;

  .checkbox-width {
    position: relative;
    grid-column: 3;
    width: 24px;
    height: 1.2rem;
    margin-top: 0.75rem;
    border-right: 1px solid $blue;
    border-left: 1px solid $blue;
  }      
  .checkbox-width:before {
    content: "";
    display: block;
    border-top: solid 1px $blue;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    z-index: 1;
  }
  .checkbox-height {
    position:relative;
    top: 0.2rem;
    width: 9px;
    border-top: 1px solid $dss_red;
    border-bottom: 1px solid $dss_red;
    // margin-left:10px;
  }
  .checkbox-height::after {
    content: "";
    border-right: 1px solid $dss_red;      
    position:absolute;
    height: 100%;
    left: 4px;
  }
  .checkbox-dimension-height {
    position: relative;
    align-self: center;
    color: $dss_red;
    font-size: 1rem;
  }
  .checkbox-dimension-width {
    color: $blue;
    font-size: 1rem;
  }
} 

.checkbox-card-grid {
  display: grid;
  // max-width: 306px;
  // old 2nd column value: 146px;
  grid-template-columns: 20px 146px 42px 32px 20px 6px 9px 25px;
  grid-template-rows: 20px 82px 32px 20px 5px 10px 9px;
  
  .checkbox-card {
    grid-column: 1 / span 5;
    grid-row: 1 / span 4;
  }
  .top, .bottom {
    background: rgba(252, 232, 230, 0.5);
    border-top: 1px $dss_red dashed;
    border-bottom: 1px $dss_red dashed;
    // opacity: 0.5;
    grid-column: 1 / span 5;
  }
  .top {
    grid-row: 1;
  }
  .bottom {
    grid-column: 4 / 6;
    grid-row: 4;
  }
  .left, .right {
    position: relative;
    background: rgba(229, 241, 250, 0.5);
    border-left: 1px #0D7DD8 dashed;
    border-right: 1px #0D7DD8 dashed;
    opacity: 0.5;
    grid-row: 1 / span 4;
  }
  .left {
    grid-column: 1;
  }
  .right {
    grid-column: 5;
    position: relative;
    left: -2px;
  }

  .height-span {
    position: relative;
    border-top: 1px $dss_red solid;
    border-bottom: 1px $dss_red solid;

    &.top-right {
      grid-column: 7;
      grid-row: 1;
      &:after {
        content: "";
        border-right: 1px solid $dss_red;      
        position:absolute;
        height: 100%;
        left: 4px;    
      }
    }

    &.bottom-right {
      grid-column: 7;
      grid-row: 4;

      &:after {
        content: "";
        border-right: 1px solid $dss_red;      
        position:absolute;
        height: 100%;
        left: 4px;    
      }
    }
  }

  .width-span {
      position: relative;
      border-left: 1px $blue solid;
      border-right: 1px $blue solid;

      &.bottom-left {
        grid-column: 1;
        grid-row: 6;

        &:after {
          content: "";
          border-bottom: 1px $blue solid;  
          position:absolute;
          top: 4px;   
          width: 18px;   
        }
      }

      &.bottom-right {
        grid-column: 5;
        grid-row: 6;

        &:after {
          content: "";
          border-bottom: 1px $blue solid;  
          position:absolute;
          top: 4px; 
          width: 18px;   
        }
      }
    }

    .height-dimension {
      font-size: 1rem;
      color: $dss_red;

      &.top-right {
        grid-column: 8;
        grid-row: 1;
      }

      &.bottom-right {
        grid-column: 8;
        grid-row: 4;
      }
    }

    .width-dimension {
      font-size: 1rem;
      color: $blue;

      &.bottom-left {
        grid-column: 1;
        grid-row: 7;
      }

      &.bottom-right {
        grid-column: 5;
        grid-row: 7;
      }
    }

    .checkbox-span {
      &.checkbox-span-top {
        position: relative;
        grid-column: 4;
        grid-row: 2;
        align-self: end;
        border-right: 1px $blue solid;
        border-left: 1px $blue solid;
        height: 9px;
        width: 32px; 
        left: -2px;
        margin-bottom: 2px;

        &:after {
          position:absolute;
          content: "";
          width: 100%;
          border-top: 1px $blue solid;
          top: 4px;
        }
      }

      &.checkbox-span-left {
        position: relative;
        grid-column: 3;
        grid-row: 3;
        align-self: end;
        border-top: 1px $dss_red solid;
        border-bottom: 1px $dss_red solid;
        height: 32px;
        width: 0.9rem; 
        left: 2.9rem;

        &:after {
          position:absolute;
          content: "";
          height: 100%;
          border-left: 1px $dss_red solid;
          left: 0.4rem;
        }
      }
    }

    .checkbox-dimension {
      &.checkbox-dimension-top {
        grid-column: 4;
        grid-row: 2;
        font-size: 1rem;
        color: $blue; 
        align-self: end;
        margin-bottom: 1rem;
      }

      &.checkbox-dimension-left {
        grid-column: 3;
        grid-row: 3;
        font-size: 1rem;
        color: $dss_red; 
        align-self: end;
        margin-bottom: 1rem;
      }
    }
}

@media only screen and (max-width: 600px) {
  .checkbox-mobile-container {
    margin-left: 3.5rem;
  }
}
.card-highlight {
  position:relative;
  left: -1rem;
}
.dimension-margins .example-container {
  margin-bottom: 4rem;
}
.highlight-overlay {    
  position: relative;
  left: 1rem;
  .checkbox-card label:before, [type=checkbox] + label::before {
    background: $highlight_bg_color;
  }
}