.primary-line-grid {
    display: grid;
    grid-template-columns: 20px 16px auto 28px auto;
    grid-template-rows: 2.6rem repeat(2, 0.5rem);

    .pixel-height {
      top: 1rem;
      grid-row: 1;
      height: 0.5rem;
      margin-right: 0.5rem;
    }

    .pixel-height-specs {
      top: 0.4rem;
    }

    .divider-line {
      margin: 0;
      grid-column: 3 / span 3;
      grid-row: 1;
      margin-top: 1.3rem;
    }

    .pixel-box {
      z-index: 100;
      border-left: 1px #0D7CD7 dashed;
      border-right: 1px #0D7CD7 dashed;
      background: #E5F1FA;
      width: 12px;
    }

    .pixel-box-left {
      grid-column: 3;
      grid-row: 1;
      justify-self: end;
    }

    .pixel-box-right {
      grid-column: 5;
      grid-row: 1;
      justify-self: start;
    }

    .pixel-width {
      font-size: 1rem;
      color: #0D7CD7;
      padding-top: 0.8rem;

    }
    .pixel-width-right {
      grid-column: 3;
      grid-row: 3;
      justify-self: end;
      position: relative;
      left: 0.3rem;
    }

    .pixel-width-left {
      grid-column: 5;
      grid-row: 3;
      justify-self: start;
      position: relative;
      right: 0.6rem;
    }
    
    .pixel-span {
      position: relative;
      z-index: 100;
      border-left: 1px #0D7CD7 solid;
      border-right: 1px #0D7CD7 solid;
      width: 12px;
      height: 0.7rem;
      font-size: 1rem;
      color: #0D7CD7;
    }

    .pixel-span-right {
      grid-column: 3;
      grid-row: 3;
      justify-self: end;
    }

    .pixel-span-left {
      grid-column: 5;
      grid-row: 3;
      justify-self: start;
    }

    .pixel-span-right:before, .pixel-span-left:before {
      content: "\00A0\00A0\00A0\00A0\00A0";
      width: 12px;
      border-top: 1px #0D7CD7 solid;
      position: relative;
      top: 0.4rem;
      left: -0.1rem;
    }
}

.double-line-grid {
    display: grid;
    grid-template-columns: 20px 11px auto;
    grid-template-rows: repeat(3, 0.35rem);

    .highlight {
      position: relative;
      border-top: 1px #E52207 dashed;
      border-bottom: 1px #E52207 dashed;
      background: #FCE8E6;
      height: 6px;
      z-index: 100;
      top: 0.6rem;
      left: 0.54rem;
    }

    .pixel-height {
      top: 0.55rem;
      grid-rows: 1 / 3;
    }
    .pixel-height-specs {
      top: 0.1rem;
    }
    .double-line {
      margin: 0 0 0 0.5rem;
      grid-column: 3;
    }
  }

  .secondary-specs-grid {
    position:relative;
    display: grid;
    grid-template-columns: 20px 11px auto;
    grid-template-rows: repeat(3, 0.25rem);

    .pixel-height-specs {
      top: -0.6rem;
    }

    .divider-dot.example {
      grid-column: 3;
      margin: 0.25rem 0 0 0.5rem;
    }
  }

  .pixel-height {
    position: relative;
    grid-column: 2;
    grid-row: 1 / 3;
    border-top: 1px #E52207 solid;
    border-bottom: 1px #E52207 solid;

    &:after {
      content: "";
      border-right: 1px solid #E52207;
      position: absolute;
      height: 100%;
      left: 5px;
    }
  }

  .pixel-height-specs {
    position: relative;
    grid-column: 1;
    grid-row: 1;
    font-size: 1rem;
    color: #E52207;
  }