.example-container {
  position: relative;
  min-height: 4rem;
}

.intro-text {
  font-size: 2.2rem;
  padding-bottom: 3.5rem;
}

.highlight-overlay {
  background: $highlight_bg_color;
  border: 1px $highlight_border_color solid;
  padding: 0.8rem;
  z-index: 1;

  [type=checkbox] + label::before {
    background: $highlight_bg_color ;
  }
}

.hover-hand {
  z-index: 1000;
}

.dashed-blue {
  z-index: 100;
  &.dashed-blue-horizontal {
    background: $blue_opaque_bg;
    border-top: 1px $dss_blue dashed;
    border-bottom: 1px $dss_blue dashed; 
  }
  &.dashed-blue-vertical {
    background: $blue_opaque_bg;
    border-left: 1px $dss_blue dashed;
    border-right: 1px $dss_blue dashed;     
  }
}

.dashed-red {
  z-index: 100;
  &.dashed-red-horizontal {
    background: $red_opaque_bg;
    border-top: 1px $dss_red dashed;
    border-bottom: 1px $dss_red dashed; 
  }
  &.dashed-red-vertical {
    background: $red_opaque_bg;
    border-left: 1px $dss_red dashed;
    border-right: 1px $dss_red dashed;     
  }
}

.span-blue {
  position: relative;
  &.span-blue-horizontal {
    border-top: 1px $dss_blue solid;
    border-bottom: 1px $dss_blue solid;
    width: $span_dimension;

    &:after {
        content: "";
        border-right: 1px solid $dss_blue;      
        position:absolute;
        height: 100%;
        left: 4px;    
      }
  }
  &.span-blue-vertical {
    position: relative;
    border-left: 1px $dss_blue solid;
    border-right: 1px $dss_blue solid;
    height: $span_dimension;

    &:after {
        content: "";
        border-top: 1px solid $dss_blue;      
        position:absolute;
        width: 100%;
        top: 4px;    
      }
  }
}

.span-red {
  &.span-red-horizontal {
    position: relative;
    border-top: 1px $dss_red solid;
    border-bottom: 1px $dss_red solid;
    width: 9px;

    &:after {
        content: "";
        border-right: 1px solid $dss_red;      
        position:absolute;
        height: 100%;
        left: 4px;    
      }
  }
  &.span-red-vertical {
    position: relative;
    border-left: 1px $dss_red solid;
    border-right: 1px $dss_red solid;

    &:after {
        content: "";
        border-top: 1px solid $dss_red;      
        position:absolute;
        width: 100%;
        top: 4px;    
      }
  }
}

.dimension-blue {
  color: $dss_blue;
  font-size: 1rem;
  
  &.dimension-blue-horizontal {
    justify-self: center;
    align-self: center;
  }

  &.dimension-blue-vertical {
    align-self: center;
  }
}

.dimension-red {
  color: $dss_red;
  font-size: 1rem;

  &.dimension-red-horizontal {
    justify-self: center;
    align-self: center;
  }

  &.dimension-red-vertical {
    align-self: center;
  }
}