/** OLD DESIGN SYSTEM **/
@media screen and (max-width: 800px) {
  p br {
    display: block;
  }
}

#site-title, {
  padding:0 !important;
  margin: 0 !important;
}

.content-card .headline h4 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.card-accordion-content h1, 
.card-accordion-content h2, 
.card-accordion-content h3, 
.card-accordion-content h4, 
.card-accordion-content h5, 
.card-accordion-content h6 {
  margin-block-end: 0;
  margin-block-start: 0;
}