$dss_red: #E52207;
$dss_blue: #0076D6;
$highlight_bg_color: rgba(147,85,220,0.07);;
$highlight_border_color: #9355DC;
$red_opaque_bg: rgba(229,34,7,0.1);
$blue_opaque_bg: rgba(0,118,214,0.1);
$red_opaque_dark_bg: rgba(252,232,230,0.8);
$blue_opaque_dark_bg: rgba(229,241,250,0.8);
$span_dimension: 9px;
