/** OLD DESIGN SYSTEM **/
@media screen and (max-width: 800px) {
  p br {
    display: block;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 3rem;
}

#main-content h1:first-child,
#main-content h2:first-child,
#main-content h3:first-child,
#main-content h4:first-child,
#main-content h5:first-child,
#main-content h6:first-child, {
  margin-top: 0;
}

// ** DISABLES HOVER, Etc. **//
// .checkbox-card:hover {
//   border: 2px solid #BBBBBB;
// }

// .checkbox-card.checked:hover {
//   border: 2px solid #49A564;
// }

// .checkbox-card label {
//   cursor: auto;
// }
// .btn, input.btn {
//   cursor: auto;
// }
// .btn:hover, input.btn:hover {
//   background-color: #1A6AD3;
// }

// .btn.outline:hover {
//   border: 1px solid #1A6AD3;
//   color: #1A6AD3;
// }

// .btn.feedback.hover-color:hover {
//   border: 2px solid #004785;
//   color: #004785;
// }

// .btn.focus.focus-color {
//   border: 2px solid #1B69D3 !important;
//   color: #004785 !important;
// }

// .btn.feedback.active-color:hover {
//   border: 2px solid #122E51;
//   color: #004785;
// }

// .btn.feedback:hover {
//   border: 2px solid #1A6AD3;
//   color: #1A6AD3;
// }

// .btn[class*="disabled"]:hover, input.btn[class*="disabled"]:hover  {
//     background-color: #BBBBBB;
//     cursor: auto;
// }