#sidebar {
  font-size: 1.75rem;
  flex: 0 0 217px;
  
  .sidenav {
    padding: 2rem 0 0 0;

    .arrow-up {
      transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
    }
    .arrow-down {
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }
  }
  
  ul {
    list-style-type: none;
    margin: 0;

    li {
      padding: 1rem 1rem 1rem 0;
      margin-top: 0;

      ul > li:first-child {
        margin-top: 1rem;
      }
      a, a:visited {
        display:block;
        text-decoration: none;
        color: $asphalt;
      }
      a:hover, a:visited:hover {
        color: $heritage;
        -webkit-text-stroke: $heritage;
      }
      
      // menu no hover styles
      // a, a:hover, a:visited, a:visited:hover {
      //   display:block;
      //   color: $asphalt;
      //   text-decoration: none;
      //   text-shadow: none;
      //   -webkit-text-stroke: $asphalt;
      // }
      a:not(active) {
        padding-left: 2rem;
      }
      
      .category {
        cursor: pointer;
        font-weight: 700;
      }

      .category span {
        display: inline-block;
        float: right;
        padding: 0.25rem;
        margin-top: 0.5rem;
        border: solid $asphalt;
        border-width: 0 2px 2px 0;
      }
    }
  }

  @media screen and (max-width: 600px) {
    width: 100%;
  }
}

.sidebar-nav-links {
  padding: 0;
  margin: 0;
  .active {
      border-left: 0.25rem $heritage solid;
      margin-left: -0.25rem;
      font-weight: 700;
    }
}