/** OLD DESIGN SYSTEM **/
@media screen and (max-width: 800px) {
  p br {
    display: block;
  }
}

#site-title, {
  padding:0 !important;
  margin: 0 !important;
}

.content-card .headline h4 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

#main-content h2:first-child {
  margin-top: 0 !important;
}