.menu {
  margin: 0 1.5rem 0 0;
  font-size: 1.75rem;
  width: 217px;
  
  .menu-container {
    padding: 2rem 0 0 0;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
  }

  li {
    padding: 1rem 1rem 1rem 0;
    margin-top: 0;

    ul > li:first-child {
      margin-top: 1rem;
    }
    a {
      color: $asphalt;
      text-decoration: none;
    }
    a:not(active) {
      padding-left: 2rem;
    }
    
    .category {
      font-weight: 700;
    }

    .category i {
      display: inline-block;
      float: right;
      padding: 0.25rem;
      margin-top: 0.5rem;
      border: solid $asphalt;
      border-width: 0 2px 2px 0;
    }
  }
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.menu-links {
  padding: 0;
  margin: 0;
  .active {
      border-left: 0.25rem $heritage solid;
      margin-left: -0.25rem;
      font-weight: 700;
    }
}
.category {
  cursor: pointer;
}