$dss_red: #E62D14;
$dss_blue: #0D7DD8;
$highlight_bg_color: #F7F3FC;
$highlight_border_color: #9355DC;
$red_opaque_bg: rgba(252, 232, 230, 0.5);
$blue_opaque_bg: rgba(229, 241, 250, 0.5);
$span_dimension: 9px;